<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371294319961-9e4tu7mu67t2moutj5ona0k2vir8dfnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371294319961-9e4tu7mu67t2moutj5ona0k2vir8dfnq</string>
	<key>API_KEY</key>
	<string>AIzaSyCWgy3a0QzsCSXXkwNSPdPgsyiDj0IdW6I</string>
	<key>GCM_SENDER_ID</key>
	<string>371294319961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandrakrupa.planner</string>
	<key>PROJECT_ID</key>
	<string>myplanner7</string>
	<key>STORAGE_BUCKET</key>
	<string>myplanner7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371294319961:ios:fbffff90ea735fd7ce8848</string>
</dict>
</plist>